{% extends "print_base.html" %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<div class="row">
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-6 col-6">
					<h6 class="mb-3">Billed To:</h6>
					<div>
						<strong>{{ dispdlts.dispdlts_name }}</strong>
					</div>
					<div>{{ dispdlts.dispdlts_address1 }}</div>
					<div>{{ dispdlts.dispdlts_address2 }}</div>
					<div>Loc: {{ dispdlts.dispdlts_loc }}</div>
					<div>Pin: {{ dispdlts.dispdlts_pin }}</div>
					<div>Stcd: {{ dispdlts.dispdlts_stcd }}</div>
				</div>

			</div>




		</div>
	</div>

	<button onclick="window.print();" class="btn btn-primary d-print-none">Print Dispdlts</button>


{% endblock %}
