{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Edit Item List</h2>
<form method="POST">
	{% csrf_token %}
	<table class="table">
		<tbody class="two-col-form">
			<tr>
				<th scope="row" class="text-right">Item SlNo: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-slno" type="text"  id="item-slno-input"></td>
				<th scope="row" class="text-right">IsServc: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-isservc" type="text"  id="item-isservc-input"></td>
			</tr>   
			<tr>
				<th scope="row" class="text-right">PrdDesc: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-prddesc" type="text" id="item-prddesc-input"></td>
				<th scope="row" class="text-right">HsnCd: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-hsncd" type="text" id="item-hsncd-input"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Barcde: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-barcde" type="text" id="item-barcde-input"></td>
				<th scope="row" class="text-right">Qty: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-qty" type="text" id="item-qty-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">FreeQty: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-freeqty" type="text" id="item-freeqty-"></td>
				<th scope="row" class="text-right">Unit: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-unit" type="text" id="item-unit-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">UnitPrice: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-unitprice" type="text" id="item-unitprice-"></td>
				<th scope="row" class="text-right">TotAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-totamt" type="text" id="item-totamt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">Discount: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-discount" type="text" id="item-discount-"></td>
				<th scope="row" class="text-right">PreTaxVal: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-pretaxval" type="text" id="item-pretaxval-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">AssAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-assamt" type="text" id="item-assamt-"></td>
				<th scope="row" class="text-right">GstRt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-gstrt" type="text" id="item-gstrt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">IgstAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-igstamt" type="text" id="item-igstamt-"></td>
				<th scope="row" class="text-right">CgstAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-cgstamt" type="text" id="item-cgstamt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">SgstAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-sgstamt" type="text" id="item-sgstamt-"></td>
				<th scope="row" class="text-right">CesAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-cesamt" type="text" id="item-cesamt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">CesNonAdvlAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-cesnonadvlamt" type="text" id="item-cesnonadvlamt-"></td>
				<th scope="row" class="text-right">StateCesRt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-statecesrt" type="text" id="item-statecesrt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">StateCesAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-statecesamt" type="text" id="item-statecaseamt-"></td>
				<th scope="row" class="text-right">StateCesNonAdvlAmt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-statecesnonadvlamt" type="text" id="item-statecesnonadvlamt-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">OthChrg: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-othchrg" type="text" id="item-othchrg-"></td>
				<th scope="row" class="text-right">TotItemVal: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-totitemval" type="text" id="item-totitemval-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">OrdLineRef: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-ordlineref" type="text" id="item-ordlineref-"></td>
				<th scope="row" class="text-right">OrgCntry: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-orgcntry" type="text" id="item-orgcntry-"></td>
			</tr>
			<tr>
				<th scope="row" class="text-right">PrdSlNo: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-prdslno" type="text" id="item-prdslno-"></td>
				<th scope="row" class="text-right">CesRt: </th>
				<td class="form-input-td"><input autocomplete="off" name="item-cesrt" type="text" id="item-cesrt-"></td>
			</tr>
		</tbody>
	</table>

	<input type="submit" class="btn btn-primary float-right" value="Submit">
</form>
{% endblock %}
